body {
	background-color:gray;}
        .dave {font-style: normal; font-weight:bold; color:Darkred}
        .csstyle {font-style: italic; font-weight:bold; color:crimson}
        .welcome {font-style: oblique; font-weight:bold; color:navy}
        .textarea {background-color: white; color: black; font-size: 10pt; font-weight: bold} 

        